.ui-datepicker-inline{
    width: 90% !important;
    margin: 0 auto !important;
    cursor: pointer !important;
}

.ui-state-default{
    height: 50px !important;
    width: 70% !important;
    margin: 10px auto !important;
    text-align: center !important;
    vertical-align: middle !important;
    line-height: 50px !important;
    font-size: 25px !important;
}

#over-loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #FFF;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";       /* IE 8 */
    filter: alpha(opacity=80);  /* IE 5-7 */
    -moz-opacity: 0.8;          /* Netscape */
    -khtml-opacity: 0.8;        /* Safari 1.x */
    opacity: 0.8;
}

#over-loading img{
    margin-top:15%;
}

.btn{
    padding: 10px 12px;
    border: solid 1px #BFBEBE;
    background: #FFFCFC;
    color: #665A5A;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover{
    background: #665A5A;
    color: #FFF;
}

.btn-box-san{
    margin: 1%;
    width: 46%;
    display: block;
    float: left;
    height: 200px;
    border: solid 1px #CCC;
    text-align: center;
    text-decoration: none;
}

.btn-box-san:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
    filter: alpha(opacity=70);  /* IE 5-7 */
    -moz-opacity: 0.7;          /* Netscape */
    -khtml-opacity: 0.7;        /* Safari 1.x */
    opacity: 0.7;
}

.step-time-content{
    width: 94%;
    margin: 0 8%;
}

.btn-box-gio{
    margin: 7px 7px;
    display: block;
    width: 10%;
    height: 65px;
    border: 1px solid #CCC;
    float: left;
    text-decoration: none;
    text-align: center;
    line-height: 65px;
    background: #2DBEF5;
    color: #FFF;
}
.btn-box-gio:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
    filter: alpha(opacity=70);  /* IE 5-7 */
    -moz-opacity: 0.7;          /* Netscape */
    -khtml-opacity: 0.7;        /* Safari 1.x */
    opacity: 0.7;
}

.san-title{
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    margin: 5px auto;
    display: block;
}

.show-selected{
    margin: 20px 0;
    text-align: center;
}

.action{
    margin: 10px auto;
    padding-bottom: 30px;
}

.prev-step{
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.next-step{
    float: right;
    margin-right: 50px;
    margin-bottom: 30px;
}

.clear{
    clear:both;
}